.full{
    background-color: #a9d8d2;
}
.head{
    text-align: center;
}
.content{
    background-color: #ffffff;
    width: 50%;
    margin: auto;
    text-align: center;
    line-height: 1.8rem;
}
#age{
    margin-right: 12%;
}
.para{
    text-align: left;
     text-indent: 20px;
}
.options{
    text-align: center;
}